<nav class="menu">
  <ul>
    <li class="link">{{#link-to 'index' class="button"}}Home{{/link-to}}</li>
    <li class="link">{{#link-to 'quickstart' class="button"}}Hoe-Werkt-Het?{{/link-to}}</li>
     <li class="link">{{#link-to 'brieven' class="button"}}De brieven van Johan{{/link-to}}</li>
     <li class="link">{{#link-to 'about' class="button"}}Over Nihon Aishteruyo{{/link-to}}</li>
    <li class="link">{{#link-to 'contact' class="button"}}Contact{{/link-to}}</li>
  </ul>
</nav>