<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Over Nihon Aihsiteruyo</h2>
  <p>
      <h3>Disclaimer</h3>
      Deze applicatie is ontwikkeld door Robert F. Hoekstra. 
      In opdracht van de Hogeschool van Amsterdam en de NMVW.
  </p>
  <p>De afbeeldingen, content en gevoelige informatie die te vinden is binnen deze applicatie dient gemeld te worden bij de opdrachtgever of of ontwikkelaar.</p>

  <h3>De applicatie</h3>
  <p> De applicatie is een test om een interactieve toepassing te bouwen met het EmberJS framework en met de culturele collectie van verschillende musea.
  </p>
</div>