{{outlet}}
<img src="{{rootURL}}assets/img/header.jpg" alt="">
<h1>Wij houden van Japan</h1>
<p>De online app waar je alles te weten komt over Johan en zijn brieven. Ontdek het Nederlandse 'koloniale' verleden in Deshima, Nagasaki Japan </p>

<h2>Hoe werkt het?</h2>
<p>Ben je voor het eerst hier? Volg dan onze handleiding die te vinden is via de navigatie bovenaan de navigatie! </p>

<h2>Naar de applicatie!</h2>
Klaar om de wondere wereld van Johan en het Nederlandse eiland Deshima te ontdekken? Ga snel naar de applicatie toe via de navigatie boven de applicatie.

<h2>Waarvoor?</h2>
<p>Door jouw inzendingen en die van vele anderen proberen wij de brieven van Johan te ontcijferen. Deel jouw interpertaties met vrienden en familie! Of ga samen de uitdaging aan om een brief te ontcijferen. Het is leuk en ook nog eens leerzaam!</p>