{{outlet}}
<h2>Hoe werkt het?</h2>
<h3>Inhoudsopgave</h3>
<ul>
    <li>De brieven van Johan</li>
    <li>Analyseren</li>
    <li>Schrijven</li>
    <li>Versturen</li>
</ul>

<h3>De brieven van Johan</h3>
<h4>Wie was Johan?</h4>
<p>Johan, of Albertus Johannes Bauduin uit Brouwershaven. Was een Nederlandse man werkzaam voor de Batavia. Hij was een van de eerste Nederlanders die operatief was in Nagasaki, op het Nederlandse handelsplatform Deshima.</p>

<p>Tijdens zijn expeditie naar Japan en zijn verblijf op Deshima heeft Johan ontzetten veel brievenen geschreven. Deze zijn gelukkig allemaal goed bewaard gebleven. Hij schreef zijn brieven met inkt op papier. Deze brieven zijn opgenomen in de digitale collectie van wereldculturen.</p>
<h3>Analyseren</h3>
<p>De brieven van Johan zijn geschreven in een tijd dat er heel deftig met lusletters geschreven werd en met lastige woord. Dat zie je terug in zijn brieven. Daarom is het aan jou de taak om de brieven te analyseren!</p>
<h3>Schrijven</h3>
<p>Bij elke brief kun je een venster vinden waarin jij jouw interpertatie van de brief kunt opschrijven. Doe inspiratie op bij andere inschrijvingen of duik helemaal zelf in de wondere brieven van Johan. </p>

<h3>Versturen</h3>
<p>Als je klaar bent met het schrijven van jouw interperatie dan kun je deze opsturen zodat deze voor iedereen beschikbaar is!</p>

<p>Heel veel succes!</p>